@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    direction: rtl;
  }
  .famoon   {
    position: absolute;
    right:900px;
    top:25px;
    z-index: 8;
    font-weight: 100;
    font-size: 22px;
    color: rgb(255, 239, 15);
}
 .faSun{
    color: #000000;
}

  .dark-mode-toggle {
    display: flex;
    align-items: center;
  }
  
  .toggle-label {
    display: inline-block;
    position: relative;
    margin-right: 10px;
  }
  
  .toggle-label input[type="checkbox"] {
    display: none;
  
  }
  
  .toggle-label .toggle {
    background-color: #ccc;
    border-radius: 20px;
    height: 20px;
    width: 40px;
    position: absolute;
 
    top: 0;
    right: 32px;
    transition: 0.2s;
  }
  
  .toggle-label input:checked + .toggle {
    background-color: #333;
  }
  
  .toggle-label .toggle-label-text {
    font-size: 14px;
  }
  

  body.dark-mode {
    background-color: #333;
    color: #fff;
  }

